@model SchoolManagement.Models.Course
@{
    ViewData["Title"] = "Add Course";
}
<h2>Add Course</h2>

<form asp-action="Create" method="post" onsubmit="return validateForm();">
    <div class="mb-3">
        <label>CourseName</label>
        <input asp-for="CourseName" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Duration</label>
        <input asp-for="Duration" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Add</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

<script>
    function validateForm() {
        const coursename = document.querySelector('[name="CourseName"]').value.trim();
        const duration = document.querySelector('[name="Duration"]').value.trim();


        if (!coursename || !duration) {
            alert("All fields are required: CourseName, Duration.");
            return false; 
        }

        return true; 
    }
</script>